CI_ENVIRONMENT = production

app.baseURL = 'https://domain-anda.com/'

database.default.hostname = localhost
database.default.database = nama_database_hosting
database.default.username = username_database_hosting
database.default.password = password_database_hosting
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306